<footer class="site-footer">
  <div class="footer-container">
    <p>&copy; 2025 Sonakhanim Dadashova</p>
    <div class="footer-links">
      <a href="https://github.com/sonadadasova7-boop/" target="_blank" class="footer-icon">GitHub</a>
      <a href="https://www.codecademy.com/profiles/bit2562188853/" target="_blank" class="footer-icon">Codecademy</a>
      <a href="https://github.com/sonadadasova7-boop/website_sd" target="_blank" class="footer-icon">Repository</a>
    </div>
  </div>
</footer>