<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>

  <!-- MAIN CSS (ALL PAGES) -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <nav class="navbar">
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/about' | relative_url }}">About</a>
    <a href="{{ '/projects' | relative_url }}">Projects</a>
    <a href="{{ '/contact' | relative_url }}">Contact</a>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer class="footer">
    <p>© Sonakhanim Dadashova</p>
  </footer>

</body>
</html>
